@model WebApplication2.Controllers.ViewModel
@{
    ViewBag.Title = "Article";
}
<script>
    function onhoverd(item_id) {
        document.getElementById(item_id).style.visibility = "visible";
        return;
    }
    function out(item_id) {
        document.getElementById(item_id).style.visibility = "hidden";
        console.log("hi")
        return;
    }
    function clicked_article(article_id) {
        location.href = "../../Article/id=" + article_id;
        return;
    }
</script>
<style>
    html {
        scroll-behavior: smooth;
    }

    body {
        margin: 0;
        background-color: #000;
    }

    h1 {
        font-family: Arial;
        color: red;
        text-align: center;
    }
    .imageCro {
    width:341px;
    height: 192px;
    
    }
    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 100%);
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

        .wrapper section {
            width: 100%;
            position: relative;
            display: grid;
            align-content:center;
            grid-template-columns: repeat(5, auto);
            margin: 20px 0;
            top: 20%;
            height: 22%;
        }

            .wrapper section .item {
                padding: 0 2px;
                transition: 250ms all;
                top:40%;
            }

                .wrapper section .item:hover {
                    margin: 0 40px;
                    transform: scale(1.2);
                }

            .wrapper section a {
                position:absolute;
                color: #fff;
                text-decoration: none;
                font-size: 6em;
                background: black;
                width: 80px;
                padding: 20px;
                text-align: center;
                z-index: 1;
                    
                
            }

                .wrapper section a:nth-of-type(1) {
                            top: -8%;
    /* bottom: 19%; */
    left: 0;
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, black 100%);
    height: 192px;

                }

                .wrapper section a:nth-of-type(2) {
                          top: -8%;
    /*bottom: 28%;*/
    right: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 100%);
    height: 192px;
                    }

</style>
@{const int num_of_articles = 6;}

@if(Session["lang"] != null && ((string)Session["lang"] == "he"))
{
    <u><h3 style="color:white;" class="text-center">המאמרים</h3></u>
}
else if(Session["lang"] != null && ((string)Session["lang"] == "ar"))
{
    <u><h3 style="color:white;" class="text-center">المقالات</h3></u>
}
else
{
    <u><h3 style="color:white;" class="text-center">The articles</h3></u>
}
    

<div class="wrapper" style="    height: 85%;
    left: 0%;
    top: 11%;
    width: 100%;
    position: absolute;">
    <section id="section1">
        @if(Model.articles.ToArray().Length > 5)
        {
            <a href="#section2" class="arrow__btn">‹</a>
        }
        @for(int i = 0;i < 5;i++)
        {

            if(i < Model.articles.ToArray().Length)
            {
                
                    <div class="item" onmouseover="onhoverd('item1@(i)')" onmouseout="out('item1@(i)')">

                        <img width="341px" height="192px" src="../@(Model.articles.ToArray()[i].articleImage)" alt="Describe Image" onclick="clicked_article(@(Model.articles.ToArray()[i].Id));">

                        <br />
                        <text id="item1@(i)" style="visibility:hidden;color:white; margin-left: 28%;">@Model.articles.ToArray()[i].title_english<br /><text style="color:white; margin-left: 28%;">@Model.articles.ToArray()[i].articleSubject</text></text>
                    </div>
                    }
                    }


                    @if(Model.articles.ToArray().Length > 5)
                    {
                        <a href="#section2" class="arrow__btn">›</a>
                    }
            </section>
    @if(Model.articles.ToArray().Length > 5)
    {
        <section id="section2">
            <a href="#section1" class="arrow__btn">‹</a>
            @for(int i = 5;i < 10;i++)
    {
        if(i < Model.articles.ToArray().Length)
        {
                    <div class="item" onmouseover="onhoverd('item2@(i)')" onmouseout="out('item2@(i)')">
                        <img width="341px" height="192px" src="../@(Model.articles.ToArray()[i].articleImage)" alt="Describe Image" onclick="clicked_article(@(Model.articles.ToArray()[i].Id));">
                        <br />
                        <text id="item2@(i)" style="visibility:hidden;color:white; margin-left: 28%;">@Model.articles.ToArray()[i].title_english<br /><text style="color:white; margin-left: 28%;">@Model.articles.ToArray()[i].articleSubject</text></text>
                    </div>
        }
    }
            <a href="#section1" class="arrow__btn">›</a>
        </section>
    }

</div>
    }


